.image{
    width=1600;
    height=1060;
}
.title{
    font-size: 50px;
    padding: large;
    color: white;
}

.titlebtn{
    align-content: center;
    justify-content: center;
}
.container-bunner{
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    
    color: gold;
  
  }
  .container-bunner::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../IMAGES/LIKE.jpg") no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
  }
  
  .main{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    position: absolute;
    top: 30%;
    right:10%;
  }
  .btn{
    padding: 10px 35px;
    background-color: yellow;
    border: 1px solid black;
    outline: none;
    transition: .6s ease;
    color: black;
    text-decoration: none;
  }
  .btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    
    font-weight: bold;
  }
  .headings{
      align-items: center;
      font-weight: bolder;
      font-size: largest;
  }
  .doggy{
    font-size: larger;
    color:black;
}
.enter{
    text-align: center;
}